<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		 lang="ko">
	<head th:replace="client/fragments/clientHead::clientHead">
		<!-- <title th:layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">default</title> -->
	</head>

	<body>
		<header th:replace="client/fragments/clientHeader::clientHeader"></header>
		
			<div th:layout:fragment="content"></div>
		
		<footer th:replcae="client/fragments/clientFooter::clientFooter"></footer>
 
	</body>
</html>
