<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{client/fragments/clientLayout}">

<head>
	<style>
		
	</style>
	<script>
		$(function(){
			
			/* 글쓰기 버튼 클릭 시 */
			$("#insertFormBtn").click(function(){
      			location.href="/board/insert";
      		});
      		
      		/* 검색 버튼 클릭 시 */
      		$("#searchBtn").click(function(){
				$("#boardSearch").attr({
					"method":"get",
					"action":"/board/list"
				});
				$("#boardSearch").submit();
			});
		});
	</script>
</head>
<div layout:fragment="content" class="container">
	<h1 class="text-center">자유게시판</h1>
	<hr>
	<!-- 카테고리 navbar -->
	<nav class="navbar navbar-light bg-light">
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a class="nav-link" href="/board/list">전체</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/board/list?boardCategory=공지사항">공지사항</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/board/list?boardCategory=이벤트">이벤트</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/board/list?boardCategory=나눔">나눔</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/board/list?boardCategory=질문">질문</a>
			</li>
		</ul>
	</nav>
	
	<!-- 검색 form -->
	<form id="boardSearch" class="text-end">
		<input type="text" id="keyword" name="keyword">
		<button type="button" id="searchBtn">검색</button>
	</form>
	
	<!-- 게시글 테이블 -->
	<div id="boardList">
		<table class="table">
			<thead>
				<tr>
					<th class="text-center">글번호</th>
					<th class="text-center">제목</th>
					<th class="text-center">등록일</th>
					<th class="text-center">조회수</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:if="${boardList.isEmpty()}">
					<tr>
						<td colspan="4" class="text-center">등록된 게시글이 없습니다.</td>
					</tr>
				</th:block>
				<th:block th:if="${!boardList.isEmpty()}">
					<tr th:each="board, loop : ${boardList}">
						<td th:text="${boardList.getTotalElements - (boardList.number * boardList.size) - loop.index}" class="text-center"></td>
						<td class="text-left">
							<a th:text="|[${board.boardCategory}] ${board.boardTitle}|" th:href="@{|/board/list/${board.boardNo}|}"></a>
						</td>
						<td th:text="${board.boardRegdate}" class="text-center"></td>
						<td th:text="${board.boardReadcnt}" class="text-center"></td>
					</tr>
				</th:block>
			</tbody>
		</table>
		<div class="text-center">
			<nav th:if="${!boardList.isEmpty()}">
				<ul class="pagination">
					<li class="page-item" th:classappend="${boardList.first} ? 'disabled'">
						<a class="page-link" th:href="${boardList.first} ? '#' : @{/board/list(page=${boardList.pageable.pageNumber - 1})}">
							<span aria-hidden="true">&lt;</span>
						</a>
					</li>
					
					<li th:each="page : ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == boardList.pageable.pageNumber + 1} ? 'active'">
						<a class="page-link" th:href="@{/board/list(page=${page - 1})}" th:text="${page}"></a>
					</li>
					
					<li class="page-item" th:classappend="${boardList.last} ? 'disabled'">
						<a class="page-link" th:href="${boardList.last} ? '#' : @{/board/list(page=${boardList.pageable.pageNumber + 1})}">
							<span aria-hidden="true">&gt;</span>
						</a>
					</li>
				</ul>
				
			</nav>
		</div>
	</div>
	<div class="text-end">
		<button type="button" id="insertFormBtn">글작성</button>
	</div>

</div>

</html>
