<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{client/fragments/clientLayout}">
<head>
	<style>
		.errorSpan{
			color: red;
			font-size: 12px;
		}
	</style>
	<script type="text/javascript" src="/resources/ckeditor/ckeditor.js"></script>
	<script th:inline="javascript">
		$(function () {
			
			let ckeditor_config = {
				height: 500,
				filebrowserUploadUrl: "/editor/imageUpload",
				clipboard_handleImages: false,
			};

			CKEDITOR.replace("boardContent", ckeditor_config);
			
			
			if ($("#errorSpan").text() != "") {
				$("#boardTitle").focus();
			} else if ($("#contentError").text() != "") {
				console.log(CKEDITOR.instances["boardContent"]);
				CKEDITOR.instances["boardContent"].focus();
				//console.log(CKEDITOR.focusManager(CKEDITOR.instances.boardContent));
				//CKEDITOR.focusManager(CKEDITOR.instances.boardContent).focus();
				//console.log(CKEDITOR.focusManager(CKEDITOR.instances.boardContent));
			}
			
			$("#submitBtn").click(function () {
				$("#boardWriteForm").attr({
					"method": "post",
					"action": "/board/insert"
				});
				$("#boardWriteForm").submit();
			});

			
		});
		
	</script>
</head>
<div layout:fragment="content" class="container">
	<h1 class="text-center">자유게시판</h1>
	<hr>
	<form role="form" id="boardWriteForm" th:object="${boardDto}">
		<div>
			<label>분류</label>
			<select th:field="*{boardCategory}">
				<option value="공지사항">공지사항</option>
				<option value="이벤트">이벤트</option>
				<option value="나눔">나눔</option>
				<option value="질문">질문</option>
			</select>
			<label>제목</label>
			<input type="text" th:field="*{boardTitle}">
            <span class="errorSpan" id="titleError" th:if="${errors?.containsKey('boardTitle')}" th:text="${errors['boardTitle']}">span error</span>
		</div>
		<div>
			<label>내용</label>
            <span class="errorSpan" id="contentError" th:if="${errors?.containsKey('boardContent')}" th:text="${errors['boardContent']}">content error</span>
			<br>
			<div id="test">
				<textarea th:field="*{boardContent}"></textarea>
			</div>
		</div>

		<button type="button" id="submitBtn">작성</button>
	</form>
</div>

</html>