<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{client/fragments/clientLayout}">
	  
	<th:block layout:fragment="css">
		<link th:href="@{/resources/include/css/client/forestoryInsertForm.css}" rel="stylesheet"/>
	</th:block>
	
	<th:block layout:fragment="js">
		<script th:src="@{/resources/include/js/client/forestoryList.js}" type="text/javascript"></script>		
		<script th:src="@{/resources/include/js/jquery-3.7.1.min.js}" type="text/javascript"></script>		
		<script th:src="@{/resources/ckeditor/ckeditor.js}" type="text/javascript"></script>		
		<script type="text/javascript">
			$(function(){
				$("#forestoryInsertBtn").click(function(){
					$("#forestoryInsertForm").attr({
						"method":"post",
						"action":"/forestory/insert"
					});
					$("forestoryInsertForm").submit();
				});
			})
				
			
		
		// ckEditor 공부하고 다시해..	
		// $(function(){
				
		//		let ckeditor_config = {
		//			height: 500,
		//			filebrowserUploadUrl: "/editor/imageUpload",
		//			clipboard_handleImages: false,
		//		};
		//		
		//		CKEDITOR.replace("forestoryContent", ckeditor_config);
		//		
		//		$("#submitBtn").click(function(){
		//			$("#forestoryInsertForm").attr({
		//				"method":"post",
		//				"action":"/forestory/insert"
		//			});
		//			$("#forestoryInsertForm").submit();
		//		});

		//	}); 
			
		
		</script>		
	</th:block>			
	<!-- 본문 -->	  
	<div layout:fragment="content">
	<div id="forestoryContainer">
		<div class="d-flex justify-content-center row" >
	        <div class="title">
	            <div class="mainTitle">우리의 숲</div>
	            <div class="mainContent">🍀 여러분의 반려식물을 자유롭게 포스팅 해주세요:)</div>
	        </div>
	        

			<h3 class="text-center" style="padding-top: 30px; padding-bottom: 30px;">우리의 숲 글쓰기</h3>
			<div class="col-md-3"></div>
			<div class="col-md-6">
	                    <form id="forestoryInsertForm">
	                        <div class="row">
	                            <!--매장명 작성 시작-->
	                            <div>
	                                    <label>글 제목</label>
	                                    <input type="text" class="form-control" name="forestoryTitle" id="forestoryTitle"
	                                        placeholder="글 제목을 입력해주세요."/>
	                            </div>
	                            <div>
	                                    <label>글 내용</label>
										<!--<div id="smarteditor">
											<textarea name="forestoryContent" id="forestoryContent"></textarea>
										</div> -->
										<input type="text" class="form-control" name="forestoryContent" id="forestoryContent" 
											placeholder="글 내용을 입력해주세요.">
	                            </div>
	                           <div>
	                                    <label>해시태그</label>
	                                    <input type="text" class="form-control" name="hashtag" id="hashtag"
	                                        placeholder="해시태그를 입력해주세요." required />
	                            </div>

	                   		</div>
					
				</form>
				<div class="text-center" style="margin-bottom: 50px;">
			    	<input type="button" value="포스팅하기" class=" btn btn-primary btn-lg" id="forestoryInsertBtn" />
				</div>
			</div>
			<div class="col-md-3"></div>
			
		</div>
	</div>
	</div>
</html>