<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{client/fragments/clientLayout}">

	<head>
	<!--	<link rel="stylesheet" href="/resources/include/css/client/forestoryList.css" /> -->
		<link th:href="@{/resources/include/css/client/forestoryList.css}" rel="stylesheet"/>
	
		<script th:src="@{/resources/include/js/jquery-3.7.1.min.js}" type="text/javascript"></script>		
		<script type="text/javascript">
			$(function(){
				$("#insertFormBtn").click(function(){
					window.location.href = "/forestory/insertForm"
				})
			});
		</script>
	</head>
<!-- 본문 content -->
	<div layout:fragment="content">
		<div id="wrap">
	        <div class="search">
	            <div class="mainTitle">우리의 숲</div>
	            <div class="mainContent">🍀여러분의 반려식물을 자유롭게 포스팅 해주세요:)</div>
	            <div>
	                <select name="" class="select">
	                    <option value="">전체</option>
	                    <option value="">해쉬태그</option>
	                </select>
	                <input type="text" class="searchContent" placeholder="내용을 입력해주세요.">
	                <input type="button" class="searchBtn" value="검색">
	                <input type="button" class="insertFormBtn" id="insertFormBtn" value="글쓰기">
	            </div>
	        </div>
		
	        <div class="forestory">
	            <table>
	                <tr>
	                <th class="contentImg">
	                    <a href=""><img src="#"></a>
	                </th>
	                </tr>
	                <tr class="userTr">
	                <td class="contentUser" name="userName" id="userName">할삔장첸</td>
	                </tr>
	                <tr>
	                <td class="contentTitle" name="forestoryTitle" id="forestoryTitle">니들이 게맛을 알아?</td>
	                </tr>
	                <tr>
	                <td class="contentContent" name="forestoryContent" id="forestoryContnet">저는 게 맛을 모르거든요.</td>
	                </tr>
	                <tr>
	                <td class="hashtag">#킹크랩</td>
	                </tr>
	                <tr>
	                <td class="contentLike">좋아요 댓글</td>
	                </tr>
	            </table>
	        </div>
	        <!-- 페이지 칸 -->
	        <div style="width: 30px; height: 30px;">
	
	        </div>
	    </div>
	</div>
</html>


